Thumbs.db
.DS_Store
.gradle
build/classes
build/distributions
build/docker
build/generated
build/kotlin
build/kspCahces
build/native
build/optinizedScripts
build/reports
build/resources
build/snapshot
build/tmp
build/scripts
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
